<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>Double</title>
	<style type="text/css" media="screen">
		.wrap {
			margin: 0 auto;
			width: 800px;
		}
		section {
			width: 525px;
			margin-right: 25px;
			float: left;
		}
		aside {
			width: 250px;
			float: left;
		}
		footer {
			clear: both;
			border-top: 1px solid #e3e3e3;
		}
	</style>
</head>
<body>
	<div class="wrap">
		<header>
			<h1>This is a header</h1>
		</header>
		<section>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel lorem in nisl vestibulum sodales et condimentum justo. Nullam dignissim risus sit amet lorem laoreet aliquam. Fusce volutpat, nisl ut blandit sagittis, augue metus elementum est, eu cursus diam lorem a odio. Donec vel aliquet lacus. Suspendisse pharetra odio ac odio posuere non placerat lectus sollicitudin. Praesent ultricies, neque at rutrum malesuada, nisl massa dictum lectus, a consectetur libero nulla eget lectus. Nullam adipiscing euismod ipsum, eu commodo ipsum sodales eu. Mauris tortor enim, rutrum id lacinia id, iaculis quis turpis. Donec ullamcorper, nunc vitae fermentum lacinia, mauris leo consequat mi, malesuada ultrices justo ante ut elit. Donec in diam nisi, tincidunt consequat nisi. Quisque nisi justo, eleifend nec adipiscing a, ultricies sodales mauris. Sed enim lectus, laoreet vel vulputate a, semper eget turpis.</p>
			<p>Donec risus est, sagittis id ullamcorper mollis, rhoncus sit amet nisl. Ut vehicula enim non ante tempus ultricies ultrices metus molestie. Integer luctus hendrerit vestibulum. Donec aliquam iaculis purus, id semper leo vehicula in. Morbi dapibus malesuada tortor, a lacinia lacus vehicula at. Sed non sapien ante. Nullam lobortis, nulla at malesuada tristique, mi nibh pellentesque erat, eu vulputate mi velit eu lacus.</p>
		</section>
		<aside>
			<p>Aliquam lacinia blandit mauris vel iaculis. Donec mattis quam tincidunt turpis lacinia suscipit. Morbi vel molestie nulla. Vivamus metus sem, accumsan vel egestas nec, condimentum a dolor. Curabitur aliquam lacus nec ipsum fermentum congue. In quis ante et ipsum ultricies consectetur. Sed in placerat turpis. Integer porta mollis erat nec aliquet. Mauris vitae orci libero, in venenatis metus.</p>
			<p>Praesent elit quam, mollis ut tristique sed, dapibus sed justo. Curabitur augue nisl, ullamcorper nec convallis vel, facilisis eu libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis tellus risus, sagittis quis aliquam sit amet, tempor vel velit. Vestibulum posuere pretium justo eu posuere. Phasellus et diam metus. Vivamus placerat pharetra leo, vel cursus diam euismod ut. Duis purus nisi, bibendum ac porta hendrerit, dictum nec neque. Suspendisse ut vestibulum quam. Ut velit ligula, vulputate nec semper non, rhoncus non diam.</p>
		</aside>
		<footer>
			<p>This is a footer</p>
		</footer>
	</div>
</body>
</html>