<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>Single</title>
	<style type="text/css" media="screen">
		.wrap {
			margin: 0 10%;
		}
		
		header, footer {
			background: #ccc;
		}
	</style>
</head>
<body>
	<div class="wrap">
		<header>
			<h1>This is a header</h1>
		</header>
		<section>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel lorem in nisl vestibulum sodales et condimentum justo. Nullam dignissim risus sit amet lorem laoreet aliquam. Fusce volutpat, nisl ut blandit sagittis, augue metus elementum est, eu cursus diam lorem a odio. Donec vel aliquet lacus. Suspendisse pharetra odio ac odio posuere non placerat lectus sollicitudin. Praesent ultricies, neque at rutrum malesuada, nisl massa dictum lectus, a consectetur libero nulla eget lectus. Nullam adipiscing euismod ipsum, eu commodo ipsum sodales eu. Mauris tortor enim, rutrum id lacinia id, iaculis quis turpis. Donec ullamcorper, nunc vitae fermentum lacinia, mauris leo consequat mi, malesuada ultrices justo ante ut elit. Donec in diam nisi, tincidunt consequat nisi. Quisque nisi justo, eleifend nec adipiscing a, ultricies sodales mauris. Sed enim lectus, laoreet vel vulputate a, semper eget turpis.</p>
			<p>Donec risus est, sagittis id ullamcorper mollis, rhoncus sit amet nisl. Ut vehicula enim non ante tempus ultricies ultrices metus molestie. Integer luctus hendrerit vestibulum. Donec aliquam iaculis purus, id semper leo vehicula in. Morbi dapibus malesuada tortor, a lacinia lacus vehicula at. Sed non sapien ante. Nullam lobortis, nulla at malesuada tristique, mi nibh pellentesque erat, eu vulputate mi velit eu lacus.</p>
		</section>
		<footer>
			<p>This is a footer</p>
		</footer>
	</div>
</body>
</html>