@charset "UTF-8";


body {
	width: 761px;
	margin: 1.5em auto; 
	border-color: #800606;
	border-style: solid;
	border-width: 10px;
	padding: 50px;
	background-color: #000;
	
}

html {
	background: url(background2.jpg);
	

}

h1 {
	text-align: center;
	background-color: #fff;
	color: #800606;
	border-style: ridge;
	border-width: 5px;
	border-color: #666666;
	font-family: Georgia;
	font-size: 72px;
}

h2 {
	padding: 10px;
	color: #800606;
	background-color: #CCCCCC;
	border-style: ridge;
	border-width: 3px;
	border-color: #CCCCCC;
	font-family: Georgia;
}

h3 {
	color: #CCCCCC;
	background-color: #800606;
	border-style: ridge;
	border-width: 1.5px;
	border-color: #CCCCCC;
	font-family: Georgia;
	padding-left: 10px;
	
}

p{
	color: #fff;
}

img {
	border-color: #666666;
	border-style: solid;
	border-width: 5px;
}

a {
  font-weight: bold;
  color: #CCCCCC;
  text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: #000;
	font-weight: bold;
	background-color: #CCCCCC;
}

a:visited {
	color: #666666;
	
}

a:active {
	background-color: #CCCCCC;
	
}
li {
	color: #CCCCCC;
	font-family: Georgia;
}

#nav{
	list-style-type: none;
	padding: 6px;
	text-align: center;
	background-color: #800606;
	border: 3px ridge #CCCCCC;

}

#nav a{
	color: #fff;
	padding-left: 50px;
	padding-right: 50px;
	
	
}

#nav a:hover{
	background-color: #666666;
	color: #000;
	
}

#nav li{
	display:inline;
	
}

#pic{
	float: right;
}

#school{
	float: right;
}

#contact{
	margin-right: 250px;
	
}

#work{
	margin-top: 100px;
}

#upvote{
	border: none;
	padding-left: 550px;
	margin-top: -85px;
}

#downvote{
	border: none;
	padding-left: 300px;
	margin-top: -85px;
}

#ihop{
	float: right;
	margin-top:-85px;
}

#footer{
	font-size: 12px;
	margin-top: 160px;
	margin-bottom: -60px;
	margin-left: -50px;
	margin-right: -50px;
	background-color: #800606;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	color: #CCCCCC;
	
}

#footer img{
	border: none;
	float: right;
	
}